<div>
  <h4 class="mb-3">Profile Card</h4>
  <div class="row">
    <div id="profilecard" class="col-lg-4 col-md-6">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <h5 class="card-title font-xl text-dark mb-0">Card Title</h5>
          <a href="#" class="text-primary">More</a>
        </div>
        <div class="card-body pt-0 pb-3">
          <div class="profile_avatar_box text-center mb-4">
            <div><img src="../../../../assets/img/profile_icon.svg" alt="avatar" class="rounded-circle mb-3" style="width:150px;"></div>
            <div><span>Jonh Papas</span></div>
            <div><span class="text-success">Active</span></div>
          </div>
          <div class="card-text d-flex justify-content-between">
            <button type="button" class="btn btn-md bg-color-theme text-light w-50 mr-2">Contact with email</button>
            <button type="button" class="btn btn-md bg-white border-dark w-50 ml-2">2310 000000</button>
          </div>
        </div>
        <div class="card-footer border-top py-4">
          <div class="form-group row mb-1">
            <div class="col-5">
              <span class="text-secondary">CODE</span>
            </div>
            <div class="col-7">
              <span class="text-dark">234242424</span>
            </div>
          </div>
          <div class="form-group row mb-1">
            <div class="col-5">
              <span class="text-secondary">SEMESTER</span>
            </div>
            <div class="col-7">
              <span class="text-dark">8</span>
            </div>
          </div>
          <div class="form-group row mb-1">
            <div class="col-5">
              <span class="text-secondary">DEPARTMENT</span>
            </div>
            <div class="col-7">
              <span class="text-dark">Department Name</span>
            </div>
          </div>
          <div class="form-group row mb-1">
            <div class="col-5">
              <span class="text-secondary">PROGRAM STUDY</span>
            </div>
            <div class="col-7">
              <span class="text-dark">Pr. Study Name</span>
            </div>
          </div>
          <div class="form-group row mb-1">
            <div class="col-5">
              <span class="text-secondary">INSCRIPTION YEAR</span>
            </div>
            <div class="col-7">
              <span class="text-dark">2000-2001</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="mt-2 col-lg-12">
      <app-highlight-include [highlight]="'app/cards/components/profile-card/profile-card.component.html#profilecard'"></app-highlight-include>
    </div>
  </div>
</div>
