<div class="col-12 tab-navbar tab-container">
  <ul class="nav nav-tabs d-flex">
    <li class="nav-item tab-brand disabled">
      <a class="nav-link disabled" href="javascript:void(0)"
         [translate]="'Students.StudentTitle'"></a>
    </li>
    <ng-container *ngFor="let item of activePaths">
      <li class="nav-item">
        <a class="nav-link" [translate]="item.name"
           [routerLink]="[item.alternateName]" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: false}"></a>
      </li>
    </ng-container>
    <li class="nav-item tab-buttons disabled ml-auto">
      <div class="btn-toolbar" role="toolbar">
        <div class="dropdown mr-2">
          <button class="btn btn-light" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="text-dots"></span>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a *ngFor="let item of paths" class="dropdown-item" [routerLink]="[ item.alternateName ]" >{{item.name | translate}}</a>
          </div>
        </div>
        <div class="btn-group mr-2" role="group">
          <button type="button" class="btn btn-light"
                  [routerLink]="['create/new']" [queryParams] = "{continue:'/students/${id}/dashboard/overview'}">
            <span [translate]="'Students.New'" ></span>
          </button>
        </div>
        <app-table-actions class="mr-2"></app-table-actions>
        <!--start: user query dropdown-->
        <!---->
        <div class="btn-group mr-3"  role="group">
          <button type="button" class="btn btn-theme" (click)="activeQuery.open(builderTemplate)">
            <i class="fa fa-search"></i>
          </button>
          <button type="button" class="btn btn-theme dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu" style="width: 360px">
            <h5 class="dropdown-header">
              <h5 class="mb-1 mt-1 query-bulder-beta" [translate]="'QueryBuilder.Title'"></h5>
            </h5>
            <ng-container *ngIf="queryCollection$ | async;let items">
              <div class="w-100 text-center p-4 pb-2" *ngIf="items.length === 0">
                <p>
                  <span [translate]="'QueryBuilder.EmptyList'"></span>
                  <div>
                    <button type="button" (click)="activeQuery.open(builderTemplate)" class="btn btn-sm btn-theme" [translate]="'QueryBuilder.CreateFilter'"></button>
                  </div>
              </div>
              <div class="dropdown-menu-scroll">
                <ng-container *ngFor="let item of items | orderBy: '-dateAccessed' | slice:0:25">
                  <button (click)="activeQuery.navigateWithQuery(item)" class="dropdown-item text-truncate text-wrap" href="#">
                    <span>{{item.description | truncate : 96}}</span>
                    <br>
                    <small class="text-secondary">
                      <span [translate]="'QueryBuilder.DateAccessed'"></span>
                      {{ item.dateAccessed |  date: 'short'}}
                    </small>
                  </button>
                </ng-container>
                <ng-container *ngIf="items.length > 0">
                  <div class="dropdown-divider"></div>
                  <button (click)="activeQuery.showHistory('Student')" type="button" class="dropdown-item text-truncate text-wrap" [translate]="'QueryBuilder.ShowHistory'"></button>
                </ng-container>
              </div>
            </ng-container>
          </div>
        </div>
        <!---->
        <!--end: user query dropdown-->
      </div>
    </li>
  </ul>

  <ng-template #builderTemplate>
    <universis-query-builder-container #builder [includeProperties]="includeProperties" 
  [entityType]="'Student'" [customParams]="customParams" (loadingProperties)="onLoadingProperties($event)" [(query)]="activeQuery.query" (apply)="activeQuery.navigateWith(builder)" (close)="activeQuery.close()" ></universis-query-builder-container>
  </ng-template>

  <div class="tab-content">
    <div class="tab-pane active">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
