<div>
    <div class="tab-wizard">
        <div class="row mb-3">
            <div class="col-12">
                <span class="font-weight-bold text-secondary" [translate]="'Candidates.StepOf'" [translateParams]="{ step: currentTab + 1, steps: staticTabs.tabs.length }"></span>
            </div>
        </div>
        <ng-container *ngIf="lastError">
            <!--show error-->
            <div class="row mb-3">
                <div class="alert alert-warning" role="alert">
                    <span>{{ 'Candidates.Error' | translate }}</span><br>
                    <small *ngIf="lastError.status >= 0" [translate]="'E' + lastError.status + '.message'"></small>
                    <small *ngIf="lastError.status == null">{{lastError.message}}</small>
                </div>
            </div>
        </ng-container>
        <tabset #staticTabs>
            <tab heading="General Properties">
                <form #form1="ngForm" novalidate>
                    <div class="form-group row col-md-8">
                        <label class="form-required" for="title"[translate]="'Candidates.EventTitle'"></label>
                        <input [(ngModel)]="model.name" [required]="true" type="text" class="form-control" id="title" name="title" placeholder="{{'Candidates.EnterTitle' | translate}}">
                        <div id="titleHelpBlock" class="form-text text-muted" [translate]="'Candidates.TitleHelp'">
                        </div>
                    </div>
                    <div class="form-row">
                        <most-data #academicPeriods [model]="'AcademicPeriods'" [order]="'id'"></most-data>
                        <div class="form-group col-md-4">
                            <label class="form-required" for="academicPeriod" [translate]="'Students.AcademicPeriod'">Period</label>
                            <select [compareWith]="compareSelectOption" [(ngModel)]="model.inscriptionPeriod" [required]="true" id="academicPeriod" name="academicPeriod" class="form-control">
                                <option [ngValue]="null">-</option>
                                <ng-container *ngIf="academicPeriods.value">
                                    <option *ngFor="let academicPeriod of academicPeriods.value" [ngValue]="academicPeriod">
                                        {{academicPeriod.name}}
                                    </option>
                                </ng-container>
                            </select>
                        </div>
                        <most-data #academicYears [model]="'AcademicYears'" [top]="-1" [order]="'id desc'"></most-data>
                        <div class="form-group col-md-4">
                            <label class="form-required" for="academicYear" [translate]="'Students.AcademicYear'">Academic Year</label>
                            <select [compareWith]="compareSelectOption" [(ngModel)]="model.inscriptionYear" [required]="true"  id="academicYear" name="academicYear"class="form-control">
                                <option [ngValue]="null">-</option>
                                <ng-container *ngIf="academicYears.value">
                                    <option *ngFor="let academicYear of academicYears.value" [ngValue]="academicYear">
                                        {{academicYear.name}}
                                    </option>
                                </ng-container>
                            </select>
                        </div>
                        <most-data #eventStatusTypes [model]="'EventStatusTypes'" [top]="-1" [order]="'id desc'"></most-data>
                        <div class="form-group col-md-4">
                          <label class="form-required" for="eventStatusType" [translate]="'Candidates.Status'">Event Status</label>
                          <select [compareWith]="compareSelectOption" [(ngModel)]="model.eventStatus" [required]="true"  id="eventStatusType" name="eventStatusType" class="form-control">
                            <option [ngValue]="null">-</option>
                            <ng-container *ngIf="eventStatusTypes.value">
                                <option *ngFor="let eventstatus of eventStatusTypes.value" [ngValue]="eventstatus">
                                    {{ 'Forms.' + eventstatus.name | translate }}
                                </option>
                            </ng-container>
                          </select>
                        </div>
                    </div>
                    <!--start: study programs-->
                  <div class="form-group row col-md-12">
                    <label class="form-required" for="studyProgram" [translate]="'StudyPrograms.Title'"></label>
                    <select [compareWith]="compareSelectOption" [(ngModel)]="model.studyProgram" [required]="true"  id="studyProgram" name="studyProgram"class="form-control">

                      <ng-container *ngIf="studyPrograms">
                        <option *ngFor="let studyProgram of studyPrograms" [ngValue]="studyProgram">
                          {{studyProgram.name}}
                        </option>
                      </ng-container>
                    </select>
                  </div>

                    <!--end: study programs-->

                  <ng-container *ngIf="model">
                    <div class="form-row mb-1">
                      <label class="form-required" [translate]="'Candidates.InscriptionModes'"></label>
                    </div>
                    <div class="form-row mb-2">
                      <div class="form-text text-muted" [translate]="'Candidates.InscriptionModesHelp'">
                      </div>
                    </div>
                    <div class="border border-gray-200 simple-check-list rounded p-3">
                      <div class="form-row mb-3"  *ngFor="let inscriptionMode of inscriptionModes">
                        <div class="col-12">
                          <input [(ngModel)]="inscriptionMode.selected"
                                 class="checkbox checkbox-theme"
                                 type="checkbox"
                                 id="inscriptionMode-{{inscriptionMode.id}}"
                                 name="inscriptionMode-{{inscriptionMode.id}}">
                          <label class="form-check-label" for="inscriptionMode-{{inscriptionMode.id}}">
                            {{inscriptionMode.name}}
                          </label>
                        </div>

                      </div>
                    </div>
                    <div class="form-row mt-3 mb-2">
                      <div class="col-12">
                          <input
                                 [(ngModel)]="model.isAccessibleForFree"
                                 class="checkbox checkbox-theme"
                                 type="checkbox"
                                 id="isAccessibleForFree"
                                 name="isAccessibleForFree">
                          <label class="form-check-label" for="isAccessibleForFree" [translate]="'Candidates.IsAccessibleForFree'">
                          </label>
                        <div class="form-text text-muted" [translate]="'Candidates.IsAccessibleForFreeHelp'">
                        </div>
                      </div>
                    </div>
                    <ng-container *ngIf="model.isAccessibleForFree">
                      <div class="form-group row col-md-12">
                        <label class="form-required" for="inscriptionMode" [translate]="'Candidates.DefaultInscriptionMode'"></label>
                        <select [compareWith]="compareSelectOption" [(ngModel)]="model.inscriptionMode" [required]="true"  id="inscriptionMode" name="inscriptionMode" class="form-control">
                          <ng-container *ngIf="inscriptionModes && inscriptionModes.length">
                            <option *ngFor="let inscriptionMode of inscriptionModes" [ngValue]="inscriptionMode">
                              {{inscriptionMode.name}}
                            </option>
                          </ng-container>
                        </select>
                        <div class="form-text text-muted" [translate]="'Candidates.DefaultInscriptionModeHelp'"></div>
                      </div>
                    </ng-container>
                  </ng-container>
                </form>
            </tab>
            <tab heading="Study program enrollment event">
                <form #form2="ngForm" novalidate>

                    <div class="form-row">
                        <div class="form-group col-md-12 mb-0">
                            <label class="form-required" [translate]="'Candidates.RequestPeriod'"></label>
                        </div>
                        <div class="form-group col-md-4">
                            <input type="text"
                                   [(ngModel)]="model.validFrom"
                                   id="validFrom"
                                   placeholder="{{'Candidates.ValidFrom' | translate}}"
                                   name="validFrom"
                                   class="form-control form-date-picker"
                                   autocomplete="off"
                                   readonly
                            >
                        </div>
                        <div class="form-group col-md-4">
                            <input type="text"
                                   [(ngModel)]="model.validThrough"
                                   id="validThrough"
                                   name="validThrough"
                                   placeholder="{{'Candidates.ValidThrough' | translate}}"
                                   class="form-control form-date-picker"
                                   autocomplete="off"
                                   readonly
                            >
                        </div>
                      <div id="periodHelpBlock" class="col-md-12 form-text text-muted" [translate]="'Candidates.RequestPeriodHelp'">
                      </div>

                    </div>
                  <div class="form-row mt-3">
                    <label class="" [translate]="'Candidates.Articles'"></label>
                  </div>
                  <div class="form-row mb-2">
                    <div class="form-text text-muted" [translate]="'Candidates.ArticlesHelp'">
                    </div>
                  </div>
                  <div class="border border-gray-200 simple-check-list rounded p-3">
                    <div class="form-row mb-3"  *ngFor="let article of articles">
                      <div class="col-12">
                        <input [(ngModel)]="article.selected"
                               class="checkbox checkbox-theme"
                               type="checkbox"
                               id="article-{{article.id}}"
                               name="article-{{article.id}}">
                        <label class="form-check-label" for="article-{{article.id}}">
                          {{article.name}} - ({{'ActionStatusTypes.' + article.actionStatus.alternateName | translate}} - {{'Languages.'+ article.inLanguage | translate}})
                        </label>
                      </div>

                    </div>
                  </div>

                </form>
            </tab>
            <tab heading="Enrollment Attachments">
                <form #form3="ngForm" novalidate>
                    <!--start: attachment types-->
                    <ng-container>
                        <div class="form-row mb-3">
                            <label [translate]="'Candidates.RequestAttachments'"></label>
                        </div>
                        <div class="form-row mb-2 d-none">
                            <div class="col-12">
                                <input class="checkbox checkbox-secondary"
                                       type="checkbox"
                                       id="selectAttachments">
                                <label class="form-check-label text-secondary" for="selectAttachments" [translate]="'Tables.SelectAll'">
                                    Select All
                                </label>
                            </div>
                        </div>
                        <div class="form-row mb-2">
                            <div class="col-8">
                                <small class="pl-4 text-secondary font-weight-bold" [translate]="'Forms.Description'"></small>
                            </div>
                        </div>
                        <div class="border border-gray-200 simple-check-list rounded p-3">
                            <div class="form-row mb-3"  *ngFor="let attachmentType of attachmentTypes">
                                <div class="col-8">
                                    <input class="checkbox checkbox-theme" type="checkbox"
                                           [(ngModel)]="attachmentType.selected"
                                           name="attachment-type-{{attachmentType.id}}"
                                           id="attachment-type-{{attachmentType.id}}">
                                    <label class="form-check-label" for="attachment-type-{{attachmentType.id}}">
                                        {{attachmentType.name}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <!--end: attachment types-->
                    <div class="form-row mt-2 mb-2">
                        <div class="col-12">
                            <span [translate]="'Candidates.RequestAttachmentsHelp'"></span>
                        </div>
                    </div>
                </form>
            </tab>

        </tabset>
        <div>

        </div>
    </div>
</div>
