<div class="card">
  <div class="card-header d-flex">
    <h5 [translate]="'Students.PassedCourses'" class="my-auto"></h5>
    <a *ngIf="showMore" href="#/students/{{studentId}}/dashboard/courses" class="text-primary ml-auto my-auto"><span [translate]="'Students.More'"></span></a>
  </div>
  <div class="card-body pt-0">
    <div id="group-list"  class="flex-column">
      <ul class="sis--list-group sis--list-group-header">
        <li class="sis--list-group-item px-0">
          <div class="d-flex justify-content-center align-items-center">
            <div class="sis--list-group-item_sm_column text-left" [translate]="'Students.Type'"></div>
            <div class="sis--list-group-item_md_column text-center" [translate]="'Students.Courses'"></div>
            <div class="sis--list-group-item_md_column text-center" [translate]="'Students.Εcts'"></div>
          </div>
        </li>
        </ul>
        <ul class="sis--list-group sis--list-group-body">
          <li class="sis--list-group-item border-0 px-0" *ngFor="let courseType of courseTypes | keyvalue">
            <div class="d-flex justify-content-center align-items-center list-color font-lg	text-dark">
              <div class="sis--list-group-item_sm_column text-left"><span>{{ courseType.key }}</span></div>
              <div class="sis--list-group-item_md_column d-flex justify-content-center">
                <div class="d-flex justify-content-between w-50">
                  <span>{{courseType?.value?.total}}</span>&nbsp;
                  <span class="text-success font-weight-bold">{{courseType?.value?.calculatedTotal}}</span>
                </div>
              </div>
              <div class="sis--list-group-item_md_column d-flex justify-content-center">
                <div class="d-flex justify-content-between w-50">
                  <span>{{ courseType?.value?.ects}}</span>&nbsp;
                  <span class="text-success font-weight-bold">{{courseType?.value?.calculatedEcts}}</span>
                </div>
              </div>
            </div>
          </li>
        <li class="sis--list-group-item border-left-0 border-right-0 border-top border-bottom-0 p-0 my-2"></li>
        <li class="sis--list-group-item border-0 px-0">
          <div class="d-flex justify-content-center align-items-center list-color font-lg text-dark">
            <div class="sis--list-group-item_sm_column text-left text-gray-600"><span>{{ 'Students.Total' | translate }}</span></div>
            <div class="sis--list-group-item_md_column d-flex justify-content-center">
              <div class="d-flex justify-content-between w-50">
                <span>{{ summary?.total }}</span>&nbsp;
                <span class="text-success font-weight-bold">{{summary?.both.total + summary?.onlyUnits.total}}</span>
              </div>
            </div>
            <div class="sis--list-group-item_md_column d-flex justify-content-center">
              <div class="d-flex justify-content-between w-50">
                <span>{{ summary.ects }}</span>&nbsp;
                <span class="text-success font-weight-bold">{{summary?.both.ects + summary?.onlyUnits.ects}}</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="text-right font-sm mt-3 mr-auto w-100">
      <div col-12>
        <div class="d-flex justify-content-between w-50">
        <span class="text-gray-600"><span>{{ 'Students.SimpleGradeAverage' | translate }}</span></span><span
        class="text-gray-600">{{simpleAverage}}</span>
        </div>
        <div class="d-flex justify-content-between w-50">
        <span class="text-gray-600"><span>{{ 'Students.FormattedGradeAverage' | translate }}</span></span><span
        class="text-gray-600">{{average}}</span>
        </div>
      </div>
    </div>

    <div class="col-12 text-secondary text-justify mt-3 px-0">
      <span>{{'Students.CalculateUnitsInfo' | translate}}</span>
      <span *ngIf="summary.show">&nbsp;{{summary?.message}}</span>
    </div>


  </div>
</div>
