<div>
  <div class="font-xl text-secondary pt-2 pb-2" [translate]="'Students.AdditionalInfo'"></div>
  <div class="row">
    <div class="col-auto mt-4">
      <div class="font-xl text-secondary" *ngIf="recordsTotal > 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Records'"></span>
      </div>
      <div class="font-xl text-secondary" *ngIf="recordsTotal === 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Record'"></span>
      </div>
    </div>
     <div class="pull-right ml-auto mr-3 mt-3">
      <div class="font-lg btn-toolbar mt-3">
        <a *ngIf="this.informations && this.informations.selected && this.informations.selected.length"
          class="text-danger text-decoration-none mr-2" href="javascript:void(0)" (click)="remove()">
          <span>-</span><span>&nbsp;</span><span [translate]="'Students.Remove'"></span>
        </a>
        <a class="text-indigo text-decoration-none" [routerLink]="['.', { outlets:{ modal:'add'} }]">
          <span>+</span><span>&nbsp;</span><span [translate]="'Students.New'"></span>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-4">
      <app-advanced-table [selectable]="true" #informations [showFooter]="false" (load)="onDataLoad($event)" [height]="600"></app-advanced-table>
    </div>
  </div>
  <router-modal></router-modal>
</div>
