<div class="row mt-4" *ngIf="!loading && registrationLogs">
  <div class="col-lg-12 mt-2" *ngIf="registrationLogs && registrationLogs.length > 0">
    <h4 class="text-secondary">{{ registrationLogs.length }} {{ 'Registrations.History.Edits' | translate }} </h4>
    <ul class="sis--list-group sis--list-group-header">
      <li class="sis--list-group-item">
        <div class="d-flex justify-content-center align-items-center">
          <div class="sis--list-group-item_sm_column text-left" [translate]="'Students.Date'"></div>
          <div class="sis--list-group-item_lg_column d-none d-lg-block text-left" [translate]="'Registrations.Modifications.Description'"></div>
          <div class="sis--list-group-item_sm_column d-none d-sm-block text-left" [translate]="'Registrations.Modifications.By'"></div>
        </div>
      </li>
    </ul>
    <ul class="sis--list-group sis--list-group-body mb-5">
      <li *ngFor="let eventLog of registrationLogs" class="sis--list-group-item">
        <div class="d-flex justify-content-center align-items-center list-color">
          <div class="sis--list-group-item_sm_column text-left">{{ (eventLog.dateCreated | date:'short') || '-' }}</div>
          <div class="sis--list-group-item_lg_column d-none d-lg-block text-left">
            <!-- <button type="button" class="btn btn-default text-theme" [translate]="'Registrations.Modifications.Title'" (click)="showInfo(eventLog.id)"></button> -->
            <span>
              {{ eventLog.title || '-'}}
            </span>
          </div>
          <div class="sis--list-group-item_sm_column d-none d-sm-block text-left">{{ eventLog.username || '-' }}</div>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-lg-12 mt-2" *ngIf="registrationLogs.length === 0">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <p class="card-text" [translate]="'Registrations.History.noedits'"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-4" *ngIf="!loading && registrationLogs == null">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <p class="card-text" [translate]="'Registrations.ItemNotFound'"></p>
        </div>
      </div>
    </div>
</div>
