<div class="col-12 tab-navbar tab-container pl-0" *ngIf="model">
  <ul class="mt-2 nav nav-tabs d-flex">
    <li class="nav-item">
      <a class="nav-link" [translate]="'Theses.General'"
         [routerLink]="['general']" [routerLinkActive]="'active'"></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [translate]="'Theses.Students'"
         [routerLink]="['students']" [routerLinkActive]="'active'"></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [translate]="'Theses.Grades'"
         [routerLink]="['grades']" [routerLinkActive]="'active'"></a>
    </li>
    <li class="nav-item tab-buttons disabled ml-auto">
      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group mr-2" role="group">
        </div>
      </div>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>




